.header {
  min-height: 120px;
  font-family: "Inter", Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
  width: 173px;
  height: 33px;
  object-fit: contain;
}

@media screen and (max-width: 544px) {
  .header {
    min-height: 85px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    margin: 0 0 0 7px;
  }
}

.header__user-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__email {
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.header__logout-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  background: #000000;
  opacity: 0.7;
  border: none;
  color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
}

.header__auth-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  background: #000000;
  border: none;
  color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  line-height: 17px;
  margin-right: 20px;
  text-decoration: none;
}
